# Medical Insurance Premium Prediction

The amount of the premium for a health insurance policy depends from person to person, as many factors affect the amount of the premium for a health insurance policy. Letâ€™s say age, a young person is very less likely to have major health problems compared to an older person. Thus, treating an older person will be expensive compared to a young one. That is why an older person is required to pay a high premium compared to a young person.

Just like age, many other factors affect the premium for a health insurance policy. Hope you now have understood what health insurance is and how the premium for a health insurance policy is determined. In the section below, I will take you through the task of health insurance premium prediction with machine learning using Python.

Dataset :- https://www.kaggle.com/tejashvi14/medical-insurance-premium-prediction

In [1]:
#import libraries
import numpy as np #2 perform mathematical operations on arrays
import pandas as pd #for data analysis

from xgboost import XGBRegressor #gradient boosting model used for regression predictive modeling
from sklearn.model_selection import train_test_split #measure the accuracy of the model 
from sklearn.model_selection import cross_val_score #statistical method used to estimate the performance (or accuracy) of machine learning models

In [2]:
#load the dataset 2 pandas data frame for manupulating the data
data = pd.read_csv('Medicalpremium.csv', encoding = 'latin-1')

#now v hv 2 replace null values with null string otherwise it will show errors
#v will store this in variable claaed "data"
medical_premium_data = data.where((pd.notnull(data)), '')

#lets check the shape of the dataset
medical_premium_data.shape

(986, 11)

In [3]:
#printing the dataset
print(medical_premium_data)

     Age  Diabetes  BloodPressureProblems  AnyTransplants  AnyChronicDiseases  \
0     45         0                      0               0                   0
1     60         1                      0               0                   0
2     36         1                      1               0                   0
3     52         1                      1               0                   1
4     38         0                      0               0                   1
..   ...       ...                    ...             ...                 ...
981   18         0                      0               0                   0
982   64         1                      1               0                   0
983   56         0                      1               0                   0
984   47         1                      1               0                   0
985   21         0                      0               0                   0

     Height  Weight  KnownAllergies  HistoryOfCancerInFamily  \
0       155      57               0                        0
1       180      73               0                        0
2       158      59               0                        0
3       183      93               0                        0
4       166      88               0                        0
..      ...     ...             ...                      ...
981     169      67               0                        0
982     153      70               0                        0
983     155      71               0                        0
984     158      73               1                        0
985     158      75               1                        0

     NumberOfMajorSurgeries  PremiumPrice
0                         0         25000
1                         0         29000
2                         1         23000
3                         2         28000
4                         1         23000
..                      ...           ...
981                       0         15000
982                       3         28000
983                       1         29000
984                       1         39000
985                       1         15000

[986 rows x 11 columns]

### Printing the head of the dataset to have a look at the dataframe

In [4]:
#lets c sample of this dataset in pandas data frame
#first 10 rows of the dataset
medical_premium_data.head(10)

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
0,45,0,0,0,0,155,57,0,0,0,25000
1,60,1,0,0,0,180,73,0,0,0,29000
2,36,1,1,0,0,158,59,0,0,1,23000
3,52,1,1,0,1,183,93,0,0,2,28000
4,38,0,0,0,1,166,88,0,0,1,23000
5,30,0,0,0,0,160,69,1,0,1,23000
6,33,0,0,0,0,150,54,0,0,0,21000
7,23,0,0,0,0,181,79,1,0,0,15000
8,48,1,0,0,0,169,74,1,0,0,23000
9,38,0,0,0,0,182,93,0,0,0,23000

### Printing the tail of the dataset to have a look at the dataframe

In [5]:
#last 10 rows of the dataset
medical_premium_data.tail(10)

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
976,21,0,1,0,0,155,74,0,0,0,39000
977,45,0,1,0,1,157,67,0,0,1,25000
978,40,0,1,1,0,168,70,0,0,0,17000
979,24,0,0,0,0,161,71,0,0,0,15000
980,40,0,1,1,0,171,74,0,0,0,38000
981,18,0,0,0,0,169,67,0,0,0,15000
982,64,1,1,0,0,153,70,0,0,3,28000
983,56,0,1,0,0,155,71,0,0,1,29000
984,47,1,1,0,0,158,73,1,0,1,39000
985,21,0,0,0,0,158,75,1,0,1,15000

In [6]:
#dataset informations
medical_premium_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      986 non-null    int64
 1   Diabetes                 986 non-null    int64
 2   BloodPressureProblems    986 non-null    int64
 3   AnyTransplants           986 non-null    int64
 4   AnyChronicDiseases       986 non-null    int64
 5   Height                   986 non-null    int64
 6   Weight                   986 non-null    int64
 7   KnownAllergies           986 non-null    int64
 8   HistoryOfCancerInFamily  986 non-null    int64
 9   NumberOfMajorSurgeries   986 non-null    int64
 10  PremiumPrice             986 non-null    int64
dtypes: int64(11)
memory usage: 84.9 KB

In [7]:
#data preprocessing 2 check whether if there r any empty values
#checking the number of missing values in each column
medical_premium_data.isnull().sum()

Age                        0
Diabetes                   0
BloodPressureProblems      0
AnyTransplants             0
AnyChronicDiseases         0
Height                     0
Weight                     0
KnownAllergies             0
HistoryOfCancerInFamily    0
NumberOfMajorSurgeries     0
PremiumPrice               0
dtype: int64

In [8]:
#statistical Measures of the dataset
medical_premium_data.describe()

,Age,Diabetes,BloodPressureProblems,AnyTransplants,AnyChronicDiseases,Height,Weight,KnownAllergies,HistoryOfCancerInFamily,NumberOfMajorSurgeries,PremiumPrice
count,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000,986.000000
mean,41.745436,0.419878,0.468560,0.055781,0.180527,168.182556,76.950304,0.215010,0.117647,0.667343,24336.713996
std,13.963371,0.493789,0.499264,0.229615,0.384821,10.098155,14.265096,0.411038,0.322353,0.749205,6248.184382
min,18.000000,0.000000,0.000000,0.000000,0.000000,145.000000,51.000000,0.000000,0.000000,0.000000,15000.000000
25%,30.000000,0.000000,0.000000,0.000000,0.000000,161.000000,67.000000,0.000000,0.000000,0.000000,21000.000000
50%,42.000000,0.000000,0.000000,0.000000,0.000000,168.000000,75.000000,0.000000,0.000000,1.000000,23000.000000
75%,53.000000,1.000000,1.000000,0.000000,0.000000,176.000000,87.000000,0.000000,0.000000,1.000000,28000.000000
max,66.000000,1.000000,1.000000,1.000000,1.000000,188.000000,132.000000,1.000000,1.000000,3.000000,40000.000000

Splitting the Features and Target

In [9]:
#assigning features as X
#v r gonna drop the class column 
#as v r droping the column v need 2 mention axis = 1
X = medical_premium_data.drop(columns='PremiumPrice', axis=1)

#assigning targets as Y
Y = medical_premium_data['PremiumPrice']

In [10]:
print(X) #printing the features
print("---------------------------------------------------------------------------------------------")
print(Y) #printing the target

     Age  Diabetes  BloodPressureProblems  AnyTransplants  AnyChronicDiseases  \
0     45         0                      0               0                   0
1     60         1                      0               0                   0
2     36         1                      1               0                   0
3     52         1                      1               0                   1
4     38         0                      0               0                   1
..   ...       ...                    ...             ...                 ...
981   18         0                      0               0                   0
982   64         1                      1               0                   0
983   56         0                      1               0                   0
984   47         1                      1               0                   0
985   21         0                      0               0                   0

     Height  Weight  KnownAllergies  HistoryOfCancerInFamily  \
0       155      57               0                        0
1       180      73               0                        0
2       158      59               0                        0
3       183      93               0                        0
4       166      88               0                        0
..      ...     ...             ...                      ...
981     169      67               0                        0
982     153      70               0                        0
983     155      71               0                        0
984     158      73               1                        0
985     158      75               1                        0

     NumberOfMajorSurgeries
0                         0
1                         0
2                         1
3                         2
4                         1
..                      ...
981                       0
982                       3
983                       1
984                       1
985                       1

[986 rows x 10 columns]
---------------------------------------------------------------------------------------------
0      25000
1      29000
2      23000
3      28000
4      23000
       ...
981    15000
982    28000
983    29000
984    39000
985    15000
Name: PremiumPrice, Length: 986, dtype: int64

## Dividing data into train and test data using sklearn's train_test_split()

In [11]:
#spliting the dataset in2 Training & Testing

#test size --> 2 specify the percentage of test data needed ==> 0.2 ==> 20%

#random state --> specific split of data each value of random_state splits the data differently, v can put any state v want
#v need 2 specify the same random_state everytym if v want 2 split the data the same way everytym
X_train, X_test, Y_train, Y_test = train_test_split(X.values, Y.values, test_size = 0.2, random_state = 2)

In [12]:
#lets c how many examples r there for each cases
#checking dimensions of Features
print(X.shape, X_train.shape, X_test.shape)

(986, 10) (788, 10) (198, 10)

In [13]:
#lets c how many examples r there for each cases
#checking dimensions of Targets
print(Y.shape, Y_train.shape, Y_test.shape)

(986,) (788,) (198,)

## Our data is ready to be applied a machine learning algorithm

## XGBoost Regressor

This is type of Decision Tree based ensemble model(use 1 or more model so its lyk incorporating 2 or more models together)

In [14]:
# loading the model
# training the model with training data
model = XGBRegressor().fit(X_train, Y_train)

Evaluation

Prediction on training data

In [15]:
# accuracy for prediction on training data
training_data_prediction = model.predict(X_train)
training_data_prediction

array([29072.727 , 29099.766 , 28991.11  , 15042.729 , 24935.96  ,
       14968.284 , 14876.2295, 14934.355 , 28059.701 , 22978.86  ,
       28936.896 , 27982.852 , 29043.248 , 15009.639 , 27971.09  ,
       28013.03  , 29034.24  , 34993.633 , 23002.176 , 37919.215 ,
       27908.824 , 23920.936 , 15011.43  , 25048.225 , 29039.893 ,
       15005.502 , 15011.429 , 34980.355 , 22836.924 , 15072.412 ,
       22869.37  , 31550.19  , 22990.285 , 25604.45  , 28012.98  ,
       22903.848 , 22957.54  , 24814.297 , 15040.018 , 25044.486 ,
       23110.758 , 25088.139 , 30999.52  , 15145.787 , 24872.61  ,
       23064.81  , 29029.814 , 29936.385 , 23086.549 , 14963.112 ,
       15071.051 , 15121.25  , 29943.951 , 20977.455 , 23030.13  ,
       14913.5205, 23046.727 , 22993.297 , 14951.567 , 27960.668 ,
       27956.238 , 28072.129 , 34969.12  , 14992.166 , 14997.585 ,
       37952.844 , 15038.15  , 14977.477 , 25006.957 , 23030.691 ,
       37842.125 , 34977.45  , 27974.691 , 39002.55  , 35006.242 ,
       14961.394 , 22967.354 , 25952.379 , 14863.807 , 25050.797 ,
       21043.135 , 23034.037 , 22990.041 , 30878.797 , 34915.26  ,
       25146.752 , 27945.168 , 24929.572 , 29056.803 , 23183.635 ,
       35060.086 , 28941.082 , 34004.348 , 24983.7   , 15021.35  ,
       25078.19  , 14916.757 , 29924.875 , 14993.392 , 29031.422 ,
       22974.133 , 23071.697 , 14923.6045, 27912.791 , 20908.547 ,
       23038.205 , 25238.203 , 22895.69  , 30170.748 , 24995.559 ,
       22962.783 , 30197.57  , 21023.434 , 14975.012 , 15017.618 ,
       31868.668 , 22973.836 , 35025.93  , 22934.098 , 19128.887 ,
       27864.658 , 28014.303 , 22866.1   , 28995.441 , 31046.791 ,
       24949.037 , 28038.271 , 28937.197 , 15105.613 , 18904.94  ,
       35096.33  , 14982.524 , 34974.65  , 37983.582 , 38367.094 ,
       14982.887 , 14986.015 , 29782.08  , 38134.625 , 27895.67  ,
       15093.301 , 28198.16  , 30970.87  , 15021.743 , 25237.117 ,
       22888.465 , 30048.584 , 23079.842 , 34833.215 , 30002.48  ,
       22963.164 , 27983.727 , 28011.729 , 15050.533 , 25070.688 ,
       23082.139 , 14942.631 , 30007.293 , 22947.357 , 22780.096 ,
       22883.555 , 23926.922 , 23053.191 , 14994.207 , 29997.479 ,
       27986.035 , 14980.385 , 14955.352 , 23024.127 , 27996.268 ,
       30977.008 , 14994.051 , 22969.633 , 22892.066 , 15008.471 ,
       23031.021 , 21005.543 , 22972.053 , 29527.48  , 25032.504 ,
       15029.315 , 14985.74  , 14949.905 , 25950.521 , 28985.955 ,
       15101.633 , 23068.52  , 27932.574 , 14893.805 , 24959.232 ,
       14980.429 , 27945.04  , 33347.156 , 14928.135 , 28049.828 ,
       15139.673 , 14966.562 , 34885.293 , 23128.676 , 27994.844 ,
       24971.695 , 15058.149 , 15042.022 , 15065.584 , 29033.41  ,
       35019.453 , 15015.767 , 27991.898 , 22994.098 , 34976.953 ,
       28029.418 , 27986.795 , 29046.896 , 22826.39  , 25002.129 ,
       38018.215 , 14891.49  , 23041.838 , 23013.014 , 34983.004 ,
       23020.68  , 27996.85  , 19133.928 , 35027.13  , 22950.766 ,
       28025.156 , 38765.2   , 37984.637 , 23316.143 , 30984.19  ,
       14973.676 , 35009.676 , 29669.879 , 22743.078 , 30981.258 ,
       27954.916 , 23142.953 , 28036.188 , 14898.863 , 29015.842 ,
       23050.316 , 15051.729 , 37945.18  , 23017.512 , 14968.629 ,
       24953.691 , 15012.37  , 28076.21  , 24886.047 , 29960.123 ,
       25087.889 , 25096.568 , 29102.87  , 22813.896 , 23255.621 ,
       15031.906 , 24987.47  , 34877.527 , 22961.23  , 35005.45  ,
       15012.458 , 37943.293 , 23358.344 , 34956.2   , 23047.676 ,
       23037.352 , 22937.006 , 23090.21  , 23136.695 , 22966.883 ,
       14976.439 , 27891.982 , 22942.219 , 29052.762 , 25112.025 ,
       27794.77  , 28021.346 , 38077.48  , 23067.176 , 28005.46  ,
       24957.748 , 15011.548 , 25897.686 , 30160.857 , 22950.49  ,
       15053.3125, 14953.425 , 24988.822 , 31092.045 , 30968.043 ,
       22998.371 , 25026.463 , 14967.779 , 25113.24  , 23101.797 ,
       28041.064 , 28973.148 , 34966.78  , 29084.328 , 28986.19  ,
       25044.053 , 28048.387 , 15111.359 , 22939.768 , 23073.7   ,
       27993.412 , 28022.75  , 27986.463 , 29051.113 , 28819.191 ,
       29957.496 , 14979.606 , 38009.32  , 24990.223 , 29009.06  ,
       23011.473 , 23044.656 , 23291.824 , 14972.675 , 14934.997 ,
       28858.754 , 29074.621 , 24825.203 , 15039.173 , 14873.743 ,
       28979.13  , 31013.123 , 25172.436 , 28074.03  , 14983.235 ,
       15113.578 , 27990.793 , 15000.62  , 30872.924 , 35020.62  ,
       22917.826 , 28010.166 , 28027.379 , 24043.61  , 29735.424 ,
       22719.375 , 22928.188 , 37874.566 , 15062.216 , 21208.988 ,
       22986.14  , 18950.496 , 20970.799 , 28056.73  , 22990.047 ,
       15049.218 , 14929.546 , 15112.648 , 38034.836 , 27955.246 ,
       25007.225 , 23130.885 , 15049.93  , 22768.5   , 22817.826 ,
       28849.602 , 22768.07  , 21006.111 , 14954.535 , 25147.74  ,
       22978.023 , 37943.383 , 28017.16  , 25104.178 , 35015.426 ,
       24964.705 , 22911.736 , 24949.836 , 27977.715 , 22819.71  ,
       19107.734 , 27972.293 , 27856.193 , 29193.34  , 14992.761 ,
       28033.312 , 28090.275 , 15044.195 , 29136.25  , 28004.115 ,
       31016.2   , 23444.201 , 24813.299 , 15166.241 , 15027.189 ,
       29999.016 , 22969.31  , 23180.812 , 21072.35  , 14986.055 ,
       14993.064 , 18853.45  , 21156.143 , 24937.955 , 25066.28  ,
       14943.411 , 35006.98  , 34965.33  , 31014.35  , 15009.876 ,
       22932.762 , 15205.298 , 25021.135 , 29027.797 , 27863.803 ,
       28988.12  , 23151.2   , 28994.023 , 15165.28  , 22957.361 ,
       23022.748 , 15265.791 , 15000.926 , 24621.91  , 19109.51  ,
       22933.771 , 23055.72  , 22695.21  , 23103.46  , 22964.594 ,
       15022.511 , 27940.664 , 20948.547 , 20970.68  , 14979.319 ,
       19114.709 , 37990.465 , 22973.58  , 15068.156 , 27997.865 ,
       29004.898 , 28062.574 , 15084.079 , 25036.404 , 23018.54  ,
       22930.6   , 22967.723 , 15579.069 , 27992.885 , 22966.469 ,
       28874.293 , 25124.053 , 30054.469 , 28037.482 , 28925.719 ,
       22974.871 , 34942.22  , 28987.346 , 29996.977 , 23174.352 ,
       14973.461 , 15003.839 , 28989.568 , 23082.523 , 22985.68  ,
       22964.48  , 15074.111 , 22984.23  , 24961.338 , 21034.785 ,
       35086.17  , 23026.777 , 28946.697 , 27994.072 , 14993.256 ,
       23254.13  , 24985.111 , 14958.041 , 15034.269 , 29986.047 ,
       28941.994 , 23197.363 , 15097.95  , 23044.805 , 28002.998 ,
       30970.246 , 23183.572 , 28016.05  , 30960.764 , 34963.15  ,
       28015.305 , 25004.525 , 15034.884 , 29732.098 , 35567.24  ,
       30064.473 , 30977.191 , 35031.23  , 28032.654 , 14881.801 ,
       24965.22  , 30026.154 , 28040.752 , 15012.029 , 22864.188 ,
       28169.787 , 23175.621 , 30980.018 , 29815.564 , 27960.986 ,
       27934.088 , 15052.147 , 15035.617 , 24986.354 , 23193.543 ,
       14969.09  , 23116.17  , 23016.785 , 27964.312 , 14992.985 ,
       35877.117 , 14987.767 , 23024.54  , 20878.002 , 15020.542 ,
       23164.47  , 23067.756 , 22925.379 , 34908.19  , 22947.426 ,
       14951.727 , 22891.584 , 35060.773 , 24898.404 , 15037.684 ,
       23072.463 , 28041.277 , 23066.1   , 21116.152 , 15013.991 ,
       27959.74  , 24898.258 , 27919.777 , 28011.951 , 14923.824 ,
       34755.72  , 22952.492 , 24995.705 , 23408.53  , 31002.78  ,
       29764.39  , 27985.146 , 14994.709 , 28870.371 , 14984.5205,
       23072.762 , 24901.12  , 28035.578 , 30984.227 , 28061.436 ,
       29920.227 , 15012.26  , 15033.298 , 15013.396 , 23009.492 ,
       38190.742 , 24952.125 , 19126.076 , 23010.467 , 22920.494 ,
       27996.055 , 28031.914 , 28995.885 , 23024.752 , 22841.58  ,
       29730.18  , 23074.984 , 25103.666 , 25008.883 , 23060.992 ,
       15042.623 , 24996.658 , 22936.223 , 22975.586 , 15004.246 ,
       29010.707 , 15156.285 , 15279.635 , 22963.367 , 28076.512 ,
       28932.355 , 22976.174 , 23296.688 , 22944.336 , 22980.477 ,
       22748.016 , 23063.61  , 24970.457 , 23068.656 , 14988.362 ,
       15015.407 , 27774.453 , 22986.434 , 25008.578 , 24932.81  ,
       27921.24  , 15035.508 , 15026.357 , 28000.531 , 22978.557 ,
       23018.79  , 24977.574 , 24967.553 , 28957.045 , 19081.395 ,
       23207.04  , 14897.79  , 15016.586 , 22975.967 , 37950.47  ,
       29983.414 , 28985.549 , 22956.459 , 15113.199 , 14941.074 ,
       20994.83  , 30007.297 , 25038.42  , 31545.365 , 23012.15  ,
       30940.047 , 14888.312 , 23160.924 , 23064.078 , 29035.854 ,
       26000.334 , 24984.723 , 15022.517 , 24953.557 , 14949.308 ,
       22957.709 , 23064.219 , 30932.861 , 17515.162 , 23067.357 ,
       37981.12  , 19017.01  , 28041.729 , 14990.333 , 15073.406 ,
       28144.98  , 24952.473 , 28021.656 , 27980.994 , 14997.6   ,
       30026.477 , 14948.763 , 22961.87  , 28034.643 , 15120.246 ,
       24753.555 , 15226.387 , 14994.57  , 25034.178 , 37992.223 ,
       23002.742 , 28085.049 , 23168.436 , 28218.432 , 22922.648 ,
       27958.137 , 28925.6   , 27960.371 , 29013.584 , 14903.747 ,
       22989.684 , 27980.83  , 37999.2   , 28005.7   , 25045.611 ,
       38010.66  , 14967.859 , 31049.164 , 37672.957 , 15072.992 ,
       15234.669 , 28894.904 , 25096.682 , 38042.62  , 23062.805 ,
       24997.172 , 25002.934 , 30975.209 , 26284.072 , 29157.652 ,
       15165.043 , 28899.705 , 14985.342 , 23079.396 , 37995.074 ,
       23156.111 , 25343.434 , 21042.154 , 25217.297 , 27885.387 ,
       20994.96  , 28951.154 , 29019.184 , 29974.043 , 27972.168 ,
       15001.164 , 21112.22  , 25881.693 , 23682.342 , 22996.955 ,
       16032.247 , 24813.145 , 15077.737 , 23051.023 , 23316.822 ,
       14967.489 , 29909.383 , 15020.371 , 30967.668 , 23070.008 ,
       22914.787 , 28057.87  , 15078.642 , 22975.537 , 38593.13  ,
       15188.543 , 27969.303 , 28980.38  , 29010.705 , 20434.791 ,
       28036.146 , 28984.766 , 23085.654 , 15029.023 , 22951.842 ,
       23151.47  , 23069.623 , 23320.537 , 28059.889 , 23122.844 ,
       23347.49  , 16039.734 , 19051.203 , 28956.172 , 18988.502 ,
       21079.896 , 22957.584 , 15163.171 , 38042.504 , 30968.607 ,
       15380.992 , 15031.558 , 22992.607 , 25028.105 , 27937.117 ,
       30853.32  , 27990.04  , 24957.758 , 28001.549 , 25026.482 ,
       38022.184 , 23207.328 , 30879.877 , 14980.29  , 28057.111 ,
       15056.099 , 14940.862 , 22992.68  , 28022.338 , 23093.84  ,
       24975.842 , 20998.906 , 35047.875 , 24971.686 , 22762.137 ,
       22964.129 , 29774.828 , 23322.908 , 22790.44  , 30918.842 ,
       27905.994 , 22983.764 , 23006.287 , 23052.068 , 24900.783 ,
       21071.842 , 23044.729 , 23078.83  ], dtype=float32)

Prediction on Test Data

In [16]:
# accuracy for prediction on test data
test_data_prediction = model.predict(X_test)
test_data_prediction

array([31522.592, 34418.977, 22939.62 , 29325.85 , 27299.066, 32133.8  ,
       16277.406, 27771.814, 30520.424, 25124.678, 27165.387, 23610.73 ,
       15442.265, 24848.695, 28449.059, 23090.574, 28731.201, 22938.918,
       30183.084, 14819.499, 40606.508, 23725.55 , 23538.85 , 15160.81 ,
       23222.527, 23665.338, 14916.795, 23837.049, 25534.871, 28327.965,
       28728.133, 14576.701, 27556.139, 28253.668, 26795.512, 27302.924,
       24269.375, 14511.605, 23201.299, 23870.516, 14903.758, 22992.707,
       20332.379, 23119.092, 27744.418, 14815.873, 23401.953, 28691.2  ,
       26494.936, 37648.145, 23266.2  , 15244.201, 28419.104, 26956.568,
       28412.113, 22408.646, 22889.9  , 27215.402, 30084.893, 25092.826,
       22964.139, 14243.423, 29196.65 , 22780.059, 22943.955, 34752.117,
       28880.977, 27959.85 , 26176.28 , 34540.254, 27726.47 , 36155.066,
       22570.07 , 37894.832, 37438.855, 15981.653, 14941.79 , 28913.098,
       24414.393, 25144.031, 14952.204, 23900.447, 15337.753, 23302.256,
       27569.678, 23678.988, 27420.967, 32412.92 , 14376.33 , 22637.361,
       22452.367, 23381.81 , 15576.298, 26513.285, 22796.19 , 28929.393,
       28263.146, 16184.505, 22226.979, 23218.373, 14782.216, 29304.209,
       24730.826, 22854.87 , 14638.587, 14680.345, 38940.777, 22948.709,
       27295.662, 15125.018, 29408.908, 33515.03 , 28972.969, 15514.735,
       14488.184, 24762.709, 37731.383, 29669.158, 16259.543, 23288.852,
       28582.303, 21694.412, 37068.37 , 19228.717, 33818.363, 28553.291,
       22535.912, 24593.338, 24968.27 , 23712.418, 23012.967, 14766.904,
       26384.426, 29031.219, 15166.653, 23449.85 , 27975.244, 14781.149,
       31686.078, 10558.625, 29855.422, 26165.63 , 25327.723, 23452.914,
       14616.505, 25085.875, 15339.826, 15822.14 , 28525.176, 22789.61 ,
       28131.975, 27196.5  , 21724.135, 27716.262, 27780.943, 28964.387,
       23712.826, 25486.45 , 23309.97 , 23116.23 , 17018.406, 31565.127,
       25264.006, 21709.947, 22338.428, 15061.782, 15934.144, 28958.566,
       26135.096, 30955.49 , 27889.771, 15837.314, 27589.041, 25223.43 ,
       27782.396, 34398.777, 23591.133, 29318.508, 14279.961, 24624.842,
       23413.695, 25260.81 , 28122.564, 27882.207, 29143.58 , 23065.123,
       38652.48 , 16649.197, 23045.678, 34952.56 , 24801.293, 24943.729,
       29291.693, 15155.576, 15037.299, 38769.566, 23687.016, 34400.555],
      dtype=float32)

## XGBRegressor ML model Score

In [17]:
#mean accuracy (accuracy score)
#measuring the accuracy of the model against the training data 
model.score(X_train, Y_train)

0.999625650447872

In [18]:
#mean accuracy (accuracy score)
#measuring the accuracy of the model against the test data 
model.score(X_test, Y_test)

0.8099216961227746

Lets Cross Validate and Check how the model performs.

In [19]:
#cross validation
#it is used to protect against overfitting in a predictive model, 
#particularly in a case where the amount of data may be limited. In cross-validation, 
#you make a fixed number of folds (or partitions) of the data, run the analysis on each fold, and then average the overall error estimate.
#cv = 5 ==> partition the data in2 4 Training & 1 Testing Data parts
print(cross_val_score(model, X, Y, cv = 5))

[0.8201978  0.72201425 0.78901907 0.82596822 0.63907311]

Making a Predictive System

In [20]:
#v r predicting by giving the input 
print("***Price of Medical Insurance***")
print('---------------------------------')

a = int(input("Enter the Age of the Customer : "))
b = int(input("Does the Customer has Diabetes (1 = Yes, 0 = No) : "))
c = int(input("Does the Customer has Blood Pressure Problems (1 = Yes, 0 = No) : "))
d = int(input("Does the Customer has Any Transplants (1 = Yes, 0 = No) : "))
e = int(input("Does the Customer has Any Chronic Diseases (1 = Yes, 0 = No) : "))
f = float(input("Height of Customer (in cm) : "))
g = float(input("Weight of Customer (in kg) : "))
h = int(input("Does the Customer has Known Allergies (1 = Yes, 0 = No) : "))
i = int(input("Does the Customer has History Of Cancer In Family (1 = Yes, 0 = No) : "))
j = int(input("Number Of Major Surgeries for Customer : "))

input_data = np.array([[a, b, c, d, e, f, g, h, i, j]])

# changing input_data to a numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print("-----------------------------------------------------------------------------------")

print('The Medical Insurance cost : $', prediction[0])

***Price of Medical Insurance***
---------------------------------
Enter the Age of the Customer : 20
Does the Customer has Diabetes (1 = Yes, 0 = No) : 0
Does the Customer has Blood Pressure Problems (1 = Yes, 0 = No) : 0
Does the Customer has Any Transplants (1 = Yes, 0 = No) : 0
Does the Customer has Any Chronic Diseases (1 = Yes, 0 = No) : 0
Height of Customer (in cm) : 185
Weight of Customer (in kg) : 105
Does the Customer has Known Allergies (1 = Yes, 0 = No) : 1
Does the Customer has History Of Cancer In Family (1 = Yes, 0 = No) : 0
Number Of Major Surgeries for Customer : 0
-----------------------------------------------------------------------------------
The Medical Insurance cost : $ 15739.655

In [21]:
import pickle

with open('medical_insurance_model.pkl', 'wb') as file:
  pickle.dump(model, file)

# Summary
So this is how we can build a Medical Insurance Premium Prediction model using Machine Learning and the Python programming language. I hope you liked this project on how to build a  model with Machine Learning.